#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.qrcode {
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 100%;
  border-radius: 10px;
}

.login-wide {
  width: 90%;
}

.login-full {
  width: 100%;
}